*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

header {
  background: black;
  color: white;
  font-size: 1.5em;
  padding: 2em;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
}

.about-me:hover {
  color: #d91e41;
  text-decoration: underline;
}

.cv:hover {
  color: #d91e41;
  text-decoration: underline;
}

.contact:hover {
  color: #d91e41;
  text-decoration: underline;
}
